.how-it-works{
    position: relative;
}
.how-it-works h4{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    color:  #270049;
    font-weight: bold;
}
.card img{
    margin-top: 30px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
}
.card{
    text-align: center;
    align-content:center;
    /* background-color: #ffffff; */
    box-shadow: 10px 10px 10px #cbc3d1;
    margin-bottom: 30px;
}
.card .card-footer{
    background-color: #e74a36;
    color: #ffffff !important;
    padding: 4px;
    
}