.loanAccess-caption{
    margin-top: 180px;
    text-align: left;
    padding-left: 70px;
}

.loanAccess-caption h2{
    color:  #270049;
}

.loanAccess-caption .LoanButton{
    background-color: #725ac1;
    color: #ffffff;
    padding: 10px 40px ;
    border-radius: 5px;
    border: none;
}

.loan-access-img img{
    
    max-width: 100%;
    margin: 0;
    margin-top: 30px;

   
}

.loanAccess-caption p{
    color: #b8b8b8;
    font-size: 20px;
    line-height: normal;
}
.Access-loan{
    margin-bottom: 100px;
}