.signUp{
    background-color:#ffffff;

    outline: none;
    border: none;
    padding: 10px 20px ;
    margin-left: 10px;
    border-radius: 5px;
}

.login{
    background-color:#ffffff;
    outline: none;
    border: none;
    padding: 10px 20px ;
    border-radius: 5px;
}

.login:hover,
.signUp:hover{
    background-color: #725ac1;
    color: #ffffff; 
    padding: 5px 20px ;
    border-radius: 5px;

}

.nav-link:hover{
   color: #222222 !important;
   border-bottom: 3px solid #270049;
}



