.packages .package-list1{box-sizing: border-box;}
.packages .card{margin:20px; float: left;width: 18rem;box-shadow: 10px 10px 10px rgb(0, 0, 0,.15);}
.packages .card-header{text-align: center;color: white;}
.packages .package-list p{text-align: center; color:dimgray;font-size: 15px;}
.packages .package-list span{color: #270049;font-weight: 500;}
.packages .btn{background-color: #725ac1;border: none;padding: auto;}
.packages .card-header{background-color: pink;}
.packages .card-header2{background-color:rgb(0, 0, 255)}
.packages .card-header3{background-color: #fd4c3f;}
.packages hr{background-color: #110b0b;}
.packages h2{text-align: center;color: #270049;padding-bottom: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.packages .card-text{
    margin-top: 20px;   
}